@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.benefit-box_svg
		display: none
	.s-wrapper
		background-position: 30% 40%
	.soon-svg
		margin-left: -10%
// ≥992px
+media-breakpoint-down(md)
	.content-svg
		display: none
	.content-icon_item
		width: 48%
	.prospective-svg 
		width: 40%
	.comfort-list_item
		margin: 15px
	.nearby-svg
		width: 50%
	.benefit
		padding: 0
	.foto-item
		min-height: 400px
	.s-wrapper
		background-position: 30% 50%
	.buy-box
		padding: 15px
	.popup-more .buy-box
		padding: 0
		&_right
			padding-right: 10px
	.comment-box
		margin-bottom: 25px
		height: auto
	.layout-box_bottom
		background-size: 40%
		background-position: 120% 10%
	.question-form_box
		flex-direction: column
		text-align: center
	.question
		text-align: center
		padding-top: 30px
		&-text
			display: none
		&-form_check
			text-align: center
	.question-form_box__input, .question-form_box__textarea 
		width: 100%
	.question-form_box__textarea
		margin-left: 0
	.section-title-md-center
		display: inline-block
		position: relative
		left: 50%
		transform: translateX(-50%)
		margin-bottom: 20px
	.footer-logo_box
		display: inline-block
		position: relative
		left: 50%
		transform: translateX(-50%)
	.footer-text
		display: inline-block
		position: relative
		left: 50%
		transform: translateX(-50%)
	.footer-address, .footer-callback
		display: flex
		flex-direction: column
		height: 100px
		justify-content: center
		align-items: center
	.callback-address_text
		display: inline-block
	.copyright-box
		justify-content: center
		margin: 0
	.copyright-box__text
		margin: 0 0 20px 0
	.callback-phone
		margin: 0
	.content-text
		width: 100%
	.bottom-content_svg
		width: 100%
// ≥768px
+media-breakpoint-down(sm)
	.title
		font-size: 34px
	.logo
		position: relative
		left: 50%
		transform: translateX(-50%)
		&-text
			margin: 10px 0 20px 0
			text-align: center
	.header
		padding-bottom: 0
		background-size: 100%
	.formhead
		width: 100%
	.mobile-formhead
		width: 100%
		position: relative
		z-index: 1
		padding: 30px 30px 30px 50px
		border-radius: 0
		background-size: 40%
		background-position: 110% 30%
		&-title
			text-align: left
			margin-bottom: 5px
			font-weight: 400
		&-text
			font-size: 16px
			margin-bottom: 25px
		&-form
			&_input
				width: 30%
				margin-right: 10px
			&_btn
				margin: 0
				display: inline
				padding: 12px
				width: 30%
				white-space: nowrap
			&_check
				text-align: left
				margin-top: 10px
	.callback
		display: flex
		text-align: center
		flex-wrap: wrap
		align-items: center
		flex-direction: column
		justify-content: space-around
		height: 200px
		&-btn
			width: 200px
		&-address_text
			display: block
			text-align: center
			padding: 0
			&:after
				background: none
	.footer-callback
		height: 100px
	.section-title
		text-align: center
		width: 100%
	.content
		text-align: center
		margin-top: 30px
		&-text
			width: 100%
		&-icon_item
			text-align: left
			width: 45%
			padding-bottom: 20px	
			padding-left: 40px
	.prospective-svg 
		display: none
	.icon
		display: flex
		justify-content: center
	.comfort
		margin-top: 100px
	.line
		display: inline-block
		margin: 0 auto
	.nearby-svg
		display: none
	section
		padding: 50px 0
	.line
		width: 100%
	.foto .owl-prev, .foto .owl-next
		height: 80px
		span
			font-size: 80px
			line-height: 80px
	.s-wrapper
		background: none
	.benefit-box
		margin-top: 50px
	.buy-btn, .room-btn, .comment-icon
		position: static
		display: block
		margin: 15px auto
		max-width: 260px
	.discount
		&-form
			width: 100%
		&-link
			position: static
			margin-top: 30px
			text-align: center
	.about-right
		margin-top: 50px
	.about-svg_line
		display: none
	.soon-svg
		display: none
	.s-soon
		text-align: center
	.comment-icon
		display: flex
	.question-form_btn
		width: auto
	.section-title-md-center
		display: inline
		position: static
		text-align: center
	.layout-box_line
		width: 47%
	.s-map
		padding-top: 700px
		background: $blue url(../img/bg-map-mobile.jpg)   no-repeat
		background-size: cover 
	.map-box
		margin: 0
		max-width: 100%
	.form-popup_title
		font-size: 20px
		-webkit-overflow-scrolling: touch
	.soon-link
		display: inline
	.soon-link__box
		justify-content: space-between
	.s-bottom
		padding-bottom: 0
// ≥576px
+media-breakpoint-down(xs)
	.prospective
		.title
			font-size: 26px
		&-svg 
			display: none
	.discount
		text-align: center
	.discount-form
		padding: 20px
	.foto-item
		min-height: 300px
	.project-popup
		padding: 20px
	.mobile-formhead
		width: 100%
		padding: 30px
		background-size: 70%
		background-position: 180px 40px
		&-title
			text-align: center
			font-size: 28px
			margin-bottom: 10px
			span
				font-size: 18px
		&-text
				font-size: 12px
				text-align: center
		&-form
			&_input
				width: 100%
				margin: 0 0 20px 0
			&_btn
				margin: 0
				display: inline
				padding: 12px
				width: 100%
			&_check
				text-align: center
				margin-top: 20px
	.comment-modal
		width: 100%
	.form-popup
		padding: 50px 40px
	.popup-comment
		max-width: 320px
	.proom
		max-width: 350px
		&-wrapper
			flex-direction: column
		&-imgbox
			width: 100%
		&-right
			width: 100%
			text-align: center
			padding-top: 0
		&-parameter
			text-align: left
		&_btn
			margin: 20px auto
	.s-map
		padding-top: 500px
		background-position: 30% -150px
		background-color: #e9e3cb	
	.comfort-svg
		top: 57%
		height: 100%
	.comfort-list_item
		padding: 60px 0 0 0
		text-align: center
		display: block
		&::before
			left: 50%
			margin-left: -25px

	.content-icon_item
		width: 48%
		padding: 60px 0 0 0
		margin-top: 20px
		text-align: center
		font-size: 16px
		&::before
			left: 50%
			margin: 0
			margin-left: -25px
			width: 50px
			height: 55px
			top: 0



/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
