@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
.no-padding
  padding-right: 0
  padding-left: 0
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
.text-center
	text-align: center
.white-text
	color: #fff

b, strong
	font-weight: bold
a:hover
	text-decoration: none
button
	&:focus
		outline: none
.link-text
	background: none
	border: none
	padding: 0
	color: $text
	cursor: pointer
	text-decoration: underline
	transition: color .25s ease
	&:hover
		color: $accent
section, header
	padding: 100px 0
	position: relative
	overflow: hidden
.section-title
	display: inline-block
.title
	font-family: $default-font
	line-height: 1.25
	font-size: 38px
	font-weight: bold
	text-transform: uppercase
.title-lite
	font-size: 34px
	font-weight: 200
.big
	text-transform: uppercase
.icon-text
	font-family: $opensans
	color: $text
	font-size: 13px
	font-weight: 400
.line
	height: 15px
	background-color: $accent
	margin-bottom: 20px
.line-inverse
	background-color: $blue
.svg-box
	position: absolute
	z-index: 0
	height: 100%
	top: 0
.list-style-img
	display: inline-block
	list-style: none
	position: relative
	&::before
		content: ''
		display: inline-block
		position: absolute
		background-repeat: no-repeat
.button
	display: inline-block
	padding: 8px 22px
	text-transform: uppercase
	text-decoration: none
	text-align: center
	font-weight: 600
	font-size: 12px
	color: #fff
	cursor: pointer
	background-color: $accent
	border-radius: 19px
	border: none
	transition: background .25s ease
	box-shadow: 2.347px 4.415px 14.55px 0.45px rgba(0, 0, 1, 0.18)
	&:focus
		outline: none
	&:hover
		background-color: $hover
		color: $text
	/* FORM STYLE */
.form-input
	font-family: $opensans
	width: 100%
	margin-bottom: 16px
	border-radius: 8px
	padding: 10px 15px
	color: $text
	border-color: #d0d0d0
	font-size: 12px
.form-check
	font-size: 11px
	font-weight: 200
	text-align: center
	opacity: .7
.form-link
	color: #fff
	cursor: pointer
	text-decoration: underline
	transition: color .25s ease
	&:hover
		color: $accent
		opacity: 1
		text-decoration: underline
	/* контейнер с иконками */
.icon
	width: 100%
	&_box
		display: inline-block
		width: 55px
		height: 60px
		margin-right: 5px
		&__img
			height: 95%
			padding: 6px 0 0 10px
/* HEADER */
.header
	z-index: 1
	padding: 30px 0 30px 0
	font-family: $opensans
	color: #fff
	background: $blue url(../img/bg-header.png) left center no-repeat
	background-size: 60%
.logo
	display: inline-block
	&-img
		width: 100%
		max-width: 210px
		&__link
			display: block
			cursor: pointer
	&-text
		display: inline-block
		font-size: 12px
		font-weight: 200
		margin-left: 85px
.callback
	text-align: right
	&-phone
		font-weight: 200
		color: #fff
		vertical-align: middle
		display: inline-block
		margin-right: 10px
		&_big
			font-size: 22px
	&-btn
		position: relative
		top: 0
.callback-address
	padding: 0
	margin-top: 20px
	direction: rtl
  float: left
	&_text
		font-weight: 200
		font-size: 14px
		text-align: right
		list-style: none
		line-height: 2
		padding-right: 22px
		list-style-position: right
		background-repeat: no-repeat
		position: relative
		&::after
			content: ''
			position: absolute
			right: 0
			top: 0
			width: 16px
			height: 26px
	&__map
		&::after
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve' width='16px'%3E%3Cpath d='M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257 c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22 C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34 C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180 C406.1,207.121,398.689,233.688,384.866,256.818z' fill='%23FFFFFF'/%3E%3Cpath d='M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2 C316.1,212.683,289.784,240.2,256,240.2z' fill='%23FFFFFF'/%3E%3C/svg%3E") center no-repeat
	&__clock
		&::after
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' x='0px' y='0px' viewBox='0 0 41.301 41.301' style='enable-background:new 0 0 41.301 41.301' xml:space='preserve'%3E%3Cpath d='M20.642,0c5.698,0,10.857,2.317,14.602,6.047c3.73,3.746,6.047,8.905,6.047,14.603 c0,5.698-2.317,10.857-6.047,14.603c-3.746,3.73-8.904,6.047-14.602,6.047S9.786,38.983,6.056,35.253 C2.31,31.507,0.008,26.349,0.008,20.65c0-5.698,2.301-10.857,6.047-14.603C9.786,2.317,14.944,0,20.642,0L20.642,0z M31.166,19.523 c0.619,0,1.111,0.508,1.111,1.127c0,0.619-0.492,1.127-1.111,1.127H20.674h-0.032c-0.413,0-0.778-0.238-0.968-0.571l-0.016-0.016 l0,0l-0.016-0.032l0,0v-0.016l0,0l-0.016-0.032l0,0l-0.016-0.032l0,0v-0.016l0,0l-0.016-0.032l0,0l-0.016-0.016l0,0v-0.032l0,0 l-0.016-0.032l0,0v-0.016l0,0l-0.016-0.032l0,0v-0.032l0,0v-0.016v-0.016l-0.016-0.016l0,0v-0.032l0,0v-0.032l0,0V20.73l0,0v-0.016 l0,0v-0.032l0,0V20.65l0,0V7.206c0-0.619,0.492-1.111,1.111-1.111c0.619,0,1.127,0.492,1.127,1.111v12.317H31.166z M33.657,7.635 c-3.333-3.333-7.936-5.381-13.015-5.381S10.96,4.301,7.627,7.635C4.31,10.968,2.246,15.571,2.246,20.65 c0,5.079,2.063,9.682,5.381,13.016c3.333,3.333,7.936,5.381,13.015,5.381s9.682-2.048,13.015-5.381 c3.333-3.333,5.397-7.936,5.397-13.016C39.054,15.571,36.991,10.968,33.657,7.635L33.657,7.635z' fill='%23FFFFFF'/%3E%3C/svg%3E") center no-repeat
.bg-svg
	position: absolute
	z-index: -1
.content
	margin-top: 80px
	&-subtitle
		font-weight: 200
	&-price
		display: inline-block
		padding: 4px 20px
		background-color: #fff
		color: $text
		font-weight: 400
		font-size: 26px
		line-height: 1.3
	&-icon
		width: 100%
		margin: 30px 0 30px 0
		padding: 0
		&_item
			font-weight: 200
			font-size: 12px
			width: 35%
			line-height: 1.3
			padding: 10px 0 10px 40px
			&::before
				left: 0
				top: 50%
				margin-top: -18px
				width: 28px
				height: 28px
		li:nth-child(1)::before				
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 41.301 41.301' style='enable-background:new 0 0 41.301 41.301' xml:space='preserve' width='28px' %3E%3Cpath d='M20.642,0c5.698,0,10.857,2.317,14.602,6.047c3.73,3.746,6.047,8.905,6.047,14.603 c0,5.698-2.317,10.857-6.047,14.603c-3.746,3.73-8.904,6.047-14.602,6.047S9.786,38.983,6.056,35.253 C2.31,31.507,0.008,26.349,0.008,20.65c0-5.698,2.301-10.857,6.047-14.603C9.786,2.317,14.944,0,20.642,0L20.642,0z M31.166,19.523 c0.619,0,1.111,0.508,1.111,1.127c0,0.619-0.492,1.127-1.111,1.127H20.674h-0.032c-0.413,0-0.778-0.238-0.968-0.571l-0.016-0.016 l0,0l-0.016-0.032l0,0v-0.016l0,0l-0.016-0.032l0,0l-0.016-0.032l0,0v-0.016l0,0l-0.016-0.032l0,0l-0.016-0.016l0,0v-0.032l0,0 l-0.016-0.032l0,0v-0.016l0,0l-0.016-0.032l0,0v-0.032l0,0v-0.016v-0.016l-0.016-0.016l0,0v-0.032l0,0v-0.032l0,0V20.73l0,0v-0.016 l0,0v-0.032l0,0V20.65l0,0V7.206c0-0.619,0.492-1.111,1.111-1.111c0.619,0,1.127,0.492,1.127,1.111v12.317H31.166z M33.657,7.635 c-3.333-3.333-7.936-5.381-13.015-5.381S10.96,4.301,7.627,7.635C4.31,10.968,2.246,15.571,2.246,20.65 c0,5.079,2.063,9.682,5.381,13.016c3.333,3.333,7.936,5.381,13.015,5.381s9.682-2.048,13.015-5.381 c3.333-3.333,5.397-7.936,5.397-13.016C39.054,15.571,36.991,10.968,33.657,7.635L33.657,7.635z' fill='%23e65a00'/%3E%3C/svg%3E")
		li:nth-child(2)::before				
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve' width='28px'%3E%3Cpath d='M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257 c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22 C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34 C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180 C406.1,207.121,398.689,233.688,384.866,256.818z' fill='%23e65a00'/%3E%3Cpath d='M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2 C316.1,212.683,289.784,240.2,256,240.2z' fill='%23e65a00'/%3E%3C/svg%3E")
		li:nth-child(3)::before				
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 480' width='28px' style='enable-background:new 0 0 480 480' xml:space='preserve'%3E%3Cg fill='%23e65a00'%3E%3Cpath d='M368,208v48h64v-48H368z M416,240h-32v-16h32V240z'/%3E%3Cpath d='M368,272v48h64v-48H368z M416,304h-32v-16h32V304z'/%3E%3Cpath d='M368,336v48h64v-48H368z M416,368h-32v-16h32V368z'/%3E%3Cpath d='M368,400v48h64v-48H368z M416,432h-32v-16h32V432z'/%3E%3Cpath d='M272,80V32h-64v48h-48v64h48v48h64v-48h48V80H272z M304,128h-48v48h-32v-48h-48V96h48V48h32v48h48V128z'/%3E%3Cpath d='M352,176V0H128v176H16v304h448V176H352z M128,464H32V192h96V464z M232,464h-40V320h40V464z M288,464h-40V320h40V464z M336,464h-32V304H176v160h-32V16h192V464z M448,464h-96V192h96V464z'/%3E%3Cpath d='M48,208v48h64v-48H48z M96,240H64v-16h32V240z'/%3E%3Cpath d='M48,272v48h64v-48H48z M96,304H64v-16h32V304z'/%3E%3Cpath d='M48,336v48h64v-48H48z M96,368H64v-16h32V368z'/%3E%3Cpath d='M48,400v48h64v-48H48z M96,432H64v-16h32V432z'/%3E%3C/g%3E%3C/svg%3E")
		li:nth-child(4)::before				
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve' width='28px' %3E%3Cpath d='M334.974,0c-95.419,0-173.049,77.63-173.049,173.049c0,21.213,3.769,41.827,11.211,61.403L7.672,399.928 c-2.365,2.366-3.694,5.573-3.694,8.917v90.544c0,6.965,5.646,12.611,12.611,12.611h74.616c3.341,0,6.545-1.325,8.91-3.686 l25.145-25.107c2.37-2.366,3.701-5.577,3.701-8.925v-30.876h30.837c6.965,0,12.611-5.646,12.611-12.611v-12.36h12.361 c6.964,0,12.611-5.646,12.611-12.611v-27.136h27.136c3.344,0,6.551-1.329,8.917-3.694l40.121-40.121 c19.579,7.449,40.196,11.223,61.417,11.223c95.419,0,173.049-77.63,173.049-173.049C508.022,77.63,430.393,0,334.974,0z M334.974,320.874c-20.642,0-40.606-4.169-59.339-12.393c-4.844-2.126-10.299-0.956-13.871,2.525 c-0.039,0.037-0.077,0.067-0.115,0.106l-42.354,42.354h-34.523c-6.965,0-12.611,5.646-12.611,12.611v27.136H159.8 c-6.964,0-12.611,5.646-12.611,12.611v12.36h-30.838c-6.964,0-12.611,5.646-12.611,12.611v38.257l-17.753,17.725H29.202v-17.821 l154.141-154.14c4.433-4.433,4.433-11.619,0-16.051s-11.617-4.434-16.053,0L29.202,436.854V414.07l167.696-167.708 c0.038-0.038,0.067-0.073,0.102-0.11c3.482-3.569,4.656-9.024,2.53-13.872c-8.216-18.732-12.38-38.695-12.38-59.33 c0-81.512,66.315-147.827,147.827-147.827S482.802,91.537,482.802,173.05C482.8,254.56,416.484,320.874,334.974,320.874z' fill='%23e65a00'/%3E%3Cpath d='M387.638,73.144c-26.047,0-47.237,21.19-47.237,47.237s21.19,47.237,47.237,47.237s47.237-21.19,47.237-47.237 S413.686,73.144,387.638,73.144z M387.638,142.396c-12.139,0-22.015-9.876-22.015-22.015s9.876-22.015,22.015-22.015 s22.015,9.876,22.015,22.015S399.777,142.396,387.638,142.396z' fill='%23e65a00'/%3E%3C/svg%3E")
	&-text
		font-size: 10px
		font-weight: 200
		width: 88%
		opacity: .5
	&-svg
		right: 0	
		top: 0
		width: 50%
		height: 100%
.formhead
	width: 90%
	margin: 0 0 0 auto
	padding: 50px	50px
	border-radius: 15px
	background: rgba(#0d1627, .8) url(../img/icon/bg-form.png) 110px 70px no-repeat
	background-size: 85%
	&-title
		font-size: 14px
		text-align: center
		font-weight: 200
		margin-bottom: 20px
		white-space: nowrap
		strong
			font-size: 11px
		&_big
			font-size: 22px
			display: inline-block
			margin-bottom: 5px
	&-form
		&_btn
			display: block
			margin: 0 auto
			margin-top: 30px
			padding-left: 30px
			padding-right: 30px
/* HEADER END*/
/* NEARBY */
.s-wrapper
	padding: 0
	background: #fff url(../img/bg-benefit.png) -35% 80% no-repeat
	background-size: 100%
.nearby
	font-family: $opensans
	&-label
		color: #959595
		font-size: 20px
		font-weight: bold
		text-transform: uppercase
		margin-top: 30px
	&-list
		margin: 0
		padding: 0
		position: relative
		z-index: 2
		&_item
			padding: 5px 0 15px 35px 
			&::before
				left: 0
				top: 0
				width: 28px
				height: 28px
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 51.6 51.6' style='enable-background:new 0 0 51.6 51.6' xml:space='preserve'%3E%3Cpath d='M46.2,27.5c0-0.3-0.2-0.6-0.5-0.7L9.5,13.3c-0.3-0.1-0.6,0-0.8,0.2c-0.2,0.2-0.2,0.6,0,0.8l9.3,13L8.7,39.3 c-0.2,0.2-0.2,0.6,0,0.8c0,0,0,0.1,0.1,0.1c0.2,0.2,0.5,0.3,0.7,0.2l36.3-12.2C46,28,46.2,27.8,46.2,27.5z M11.2,38.3l8.1-10.4 c0.2-0.2,0.2-0.6,0-0.8l-8.3-11.6l32.3,12L11.2,38.3z'/%3E%3Cpolygon points='19.4,27 46.2,27.5 9.8,39.5 '/%3E%3C/svg%3E")
	&-svg
		width: 40%
		top: 0
		right: 0
/* NEARBY END */
/* BENEFIT */
.benefit
	padding-bottom: 100px
	&-line
		width: 55%
	&-box
		margin-top: 100px
		text-align: center
		padding: 0 40px 0 40px
		position: relative
		&_img
			display: inline-block
			width: 70px
			height: 65px
		&_title
			font-size: 16px
			font-weight: bold
		&_svg
			width: 400px
			height: 400px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
/* BENEFIT END */
/* BUY */
.buy
	font-family: $opensans
	margin-top: 50px
	&-btn
		position: absolute
		bottom: 17px
		right: 10px
	&-box
		width: 100%
		height: 100%
		display: flex
		&_img
			display: inline-block
			width: 40px
			height: 50px
			margin-top: 7px
			background-repeat: no-repeat
			background-size: 80%
		&_left
			width: 80%
			min-height: 100%
			background-color: #ccc
			border-top-left-radius: 10px
			border-bottom-left-radius: 10px
			text-align: center
			padding-top: 25px
			position: relative
			&::after
				content: ''
				position: absolute
				z-index: 2
				left: 0
				bottom: 0
				width: 100%
				height: 30px
				border-bottom-left-radius: 10px
			&__one
				background-color: $blue
				&::after
					background-color: $accent
			&__two
				background-color: $text
				&::after
					background-color: #d4d4d4			
			&__three
				background-color: $accent
				&::after
					background-color: #d4d4d4				
		&_right
			padding: 25px 25px 60px 25px
			height: 100%
			background-color: #fff
			border-top-right-radius: 10px
			border-bottom-right-radius: 10px
			transition: background-color .25s ease
			&:hover
				background-color: $hover
		&_title
			font-weight: bold
			margin-bottom: 10px
		&_btn
			position: absolute
			bottom: 25px
			background-color: #979797
	&-svg
		width: 100%
		z-index: 0
/* BUY END */
/* PROSPECTIVE */
.s-prospective
	padding-bottom: 0
.prospective
	&-text
		margin-top: 30px
	&-svg
		top: 0
		right: 0
		width: 50%
.comfort
	margin-top: 200px
	padding-bottom: 40px
	position: relative
	z-index: 2
	height: 100%
	&-line
		width: 180px
	&-list
		margin: 30px 0 
		&_item
			padding: 0 0 0 60px
			&::before
				width: 52px
				height: 50px
				top: 0
				left: 0
			&__1:before	
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cg fill='%23e65a00'%3E%3Cpath d='M337.09,1c-0.031,0-0.06,0-0.091,0c-46.728,0-90.662,18.191-123.713,51.227C180.214,85.283,162,129.24,162,176v81h30v-81 c0-38.744,15.091-75.165,42.494-102.555C261.881,46.071,298.279,31,336.999,31c0.024,0,0.052,0,0.075,0 C416.986,31.04,482,96.774,482,177.531c0,81.417-31.705,157.96-89.275,215.532l-70.792,70.792 C310.876,474.911,296.176,481,280.539,481C248.261,481,222,454.739,222,422.461V397h-30v25.461 C192,471.282,231.719,511,280.539,511c23.649,0,45.884-9.209,62.606-25.933l70.792-70.792 c31.247-31.248,55.666-67.792,72.577-108.619C503.426,264.83,512,221.722,512,177.531C512,80.24,433.535,1.048,337.09,1z'/%3E%3Cpath d='M337,76c-26.701,0-51.808,10.396-70.694,29.272C247.407,124.162,237,149.28,237,176h0.019 c-0.003,0.248-0.019,0.492-0.019,0.741v27.333c0,20.725,8.071,40.21,22.726,54.865C264.417,263.63,267,269.867,267,276.5 s-2.583,12.87-7.273,17.561C248.94,304.847,243,319.188,243,334.441V342c0,25.916,21.084,47,47,47h1c25.916,0,47-21.084,47-47h-30 c0,9.374-7.626,17-17,17h-1c-9.374,0-17-7.626-17-17v-7.559c0-7.24,2.819-14.047,7.94-19.167 C291.297,304.916,297,291.146,297,276.5s-5.703-28.416-16.061-38.774C271.95,228.737,267,216.786,267,204.074v-27.333 c0-16.677,13.226-30.465,29.48-30.736c0.174-0.003,0.346-0.004,0.518-0.004c7.926,0,15.379,3.045,21.035,8.609 C323.815,160.295,327,167.892,327,176h30c0-16.216-6.368-31.409-17.931-42.781c-10.431-10.258-23.919-16.233-38.365-17.095 C311.54,109.531,324.007,106,337.037,106C375.615,106.02,407,138.108,407,177.531c0,31.974-6.378,62.835-18.955,91.726 l27.506,11.975C429.783,248.541,437,213.65,437,177.531C437,121.574,392.164,76.028,337,76z'/%3E%3Ccircle cx='20' cy='367' r='20'/%3E%3Cpath d='M76.568,310.432l-21.213,21.213c19.494,19.495,19.494,51.216,0,70.711l21.213,21.213 C107.76,392.376,107.76,341.624,76.568,310.432z'/%3E%3Cpath d='M118.995,268.005l-21.213,21.213c42.889,42.889,42.889,112.674,0,155.563l21.213,21.213 C173.581,411.408,173.581,322.591,118.995,268.005z'/%3E%3C/g%3E%3C/svg%3E%0A")
			&__2:before
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 333.013 333.013' style='enable-background:new 0 0 333.013 333.013' xml:space='preserve'%3E%3Cpath fill='%23e65a00' d='M292.466,253.813l-61.2-71.2l-10.4-12.4h42c1.2,0,2.8-0.4,3.6-1.2c2.4-2,2.8-5.6,0.8-8l-48.4-56l-7.2-8.4h27.6 c1.2,0,2.8-0.4,3.6-1.2c2.4-2,2.8-5.6,0.8-8l-36.8-42.8l-36.4-42.4c-0.4-0.4-0.4-0.4-0.8-0.8c-2.4-2-6-2-8,0.8l-36.8,42.8 l-36.4,42.4c-1.2,1.2-1.6,2.4-1.6,4c0,3.2,2.8,6,6,6h27.6l-7.2,8.4l-48,56c-1.2,1.2-1.6,2.4-1.6,4c0,3.2,2.8,6,6,6h42l-10.4,12.4 l-60.4,68.8c-1.2,1.2-1.6,2.4-1.6,4c0,3.2,2.8,6,6,6h98.8v56c0,4,1.6,7.2,4,10c2.4,2.4,6,4,10,4h17.2c4,0,7.2-1.6,10-4 c2.4-2.4,4-6,4-10v-56h98.8c1.2,0,2.8-0.4,3.6-1.2C294.066,259.813,294.466,256.212,292.466,253.813z M182.866,251.013 c-3.2,0-6,2.8-6,6v62c0,0.8-0.4,1.2-0.8,1.6c-0.4,0.4-1.2,0.8-1.6,0.8h-17.2c-0.8,0-1.2-0.4-1.6-0.8c-0.4-0.4-0.8-1.2-0.8-1.6v-62 c0-3.2-2.8-6-6-6h-91.2l52.4-60.8l18.8-22c2-2.4,2-6-0.8-8c-1.2-0.8-2.4-1.2-3.6-1.2h-42.4l40-46.4l15.6-18c2-2.4,2-6-0.8-8 c-1.2-0.8-2.4-1.2-3.6-1.2h-27.6l28.4-32.8l32-38.4l32.4,37.6l28.4,32.8h-27.6c-3.2,0-6,2.8-6,6c0,1.6,0.8,3.2,1.6,4l15.2,17.6 l40,46.4h-42c-3.2,0-6,2.8-6,6c0,1.6,0.8,3.2,1.6,4l18.4,21.6l52.4,60.8H182.866z'/%3E%3C/svg%3E%0A")
			&__3:before
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 478.2 478.2' style='enable-background:new 0 0 478.2 478.2' xml:space='preserve'%3E%3Cpath fill='%23e65a00' d='M457.575,325.1c9.8-12.5,14.5-25.9,13.9-39.7c-0.6-15.2-7.4-27.1-13-34.4c6.5-16.2,9-41.7-12.7-61.5 c-15.9-14.5-42.9-21-80.3-19.2c-26.3,1.2-48.3,6.1-49.2,6.3h-0.1c-5,0.9-10.3,2-15.7,3.2c-0.4-6.4,0.7-22.3,12.5-58.1 c14-42.6,13.2-75.2-2.6-97c-16.6-22.9-43.1-24.7-50.9-24.7c-7.5,0-14.4,3.1-19.3,8.8c-11.1,12.9-9.8,36.7-8.4,47.7 c-13.2,35.4-50.2,122.2-81.5,146.3c-0.6,0.4-1.1,0.9-1.6,1.4c-9.2,9.7-15.4,20.2-19.6,29.4c-5.9-3.2-12.6-5-19.8-5h-61 c-23,0-41.6,18.7-41.6,41.6v162.5c0,23,18.7,41.6,41.6,41.6h61c8.9,0,17.2-2.8,24-7.6l23.5,2.8c3.6,0.5,67.6,8.6,133.3,7.3 c11.9,0.9,23.1,1.4,33.5,1.4c17.9,0,33.5-1.4,46.5-4.2c30.6-6.5,51.5-19.5,62.1-38.6c8.1-14.6,8.1-29.1,6.8-38.3 c19.9-18,23.4-37.9,22.7-51.9C461.275,337.1,459.475,330.2,457.575,325.1z M48.275,447.3c-8.1,0-14.6-6.6-14.6-14.6V270.1 c0-8.1,6.6-14.6,14.6-14.6h61c8.1,0,14.6,6.6,14.6,14.6v162.5c0,8.1-6.6,14.6-14.6,14.6h-61V447.3z M431.975,313.4 c-4.2,4.4-5,11.1-1.8,16.3c0,0.1,4.1,7.1,4.6,16.7c0.7,13.1-5.6,24.7-18.8,34.6c-4.7,3.6-6.6,9.8-4.6,15.4c0,0.1,4.3,13.3-2.7,25.8 c-6.7,12-21.6,20.6-44.2,25.4c-18.1,3.9-42.7,4.6-72.9,2.2c-0.4,0-0.9,0-1.4,0c-64.3,1.4-129.3-7-130-7.1h-0.1l-10.1-1.2 c0.6-2.8,0.9-5.8,0.9-8.8V270.1c0-4.3-0.7-8.5-1.9-12.4c1.8-6.7,6.8-21.6,18.6-34.3c44.9-35.6,88.8-155.7,90.7-160.9 c0.8-2.1,1-4.4,0.6-6.7c-1.7-11.2-1.1-24.9,1.3-29c5.3,0.1,19.6,1.6,28.2,13.5c10.2,14.1,9.8,39.3-1.2,72.7 c-16.8,50.9-18.2,77.7-4.9,89.5c6.6,5.9,15.4,6.2,21.8,3.9c6.1-1.4,11.9-2.6,17.4-3.5c0.4-0.1,0.9-0.2,1.3-0.3 c30.7-6.7,85.7-10.8,104.8,6.6c16.2,14.8,4.7,34.4,3.4,36.5c-3.7,5.6-2.6,12.9,2.4,17.4c0.1,0.1,10.6,10,11.1,23.3 C444.875,295.3,440.675,304.4,431.975,313.4z'/%3E%3C/svg%3E%0A")
			&__4:before
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 489.8 489.8' style='enable-background:new 0 0 489.8 489.8' xml:space='preserve'%3E%3Cg fill='%23e65a00'%3E%3Cpath d='M462.1,121.3H310.5V9.9c0-5.5-4.4-9.9-9.9-9.9H27.7c-5.5,0-9.9,4.4-9.9,9.9v470 c0,5.5,4.4,9.9,9.9,9.9h272.9h161.5c5.5,0,9.9-4.4,9.9-9.9V131.2C472,125.7,467.6,121.3,462.1,121.3z M290.7,131.2v338.9H37.6 V19.8h253.1V131.2L290.7,131.2z M452.2,470H310.5V141h141.7V470z'/%3E%3Cpath d='M349.1,191.3h64.5c5.5,0,9.9-4.4,9.9-9.9s-4.4-9.9-9.9-9.9h-64.5c-5.5,0-9.9,4.4-9.9,9.9 C339.2,186.8,343.6,191.3,349.1,191.3z'/%3E%3Cpath d='M349.1,241h64.5c5.5,0,9.9-4.4,9.9-9.9s-4.4-9.9-9.9-9.9h-64.5c-5.5,0-9.9,4.4-9.9,9.9 S343.6,241,349.1,241z'/%3E%3Cpath d='M349.1,290.6h64.5c5.5,0,9.9-4.4,9.9-9.9s-4.4-9.9-9.9-9.9h-64.5c-5.5,0-9.9,4.4-9.9,9.9 S343.6,290.6,349.1,290.6z'/%3E%3Cpath d='M349.1,340.3h64.5c5.5,0,9.9-4.4,9.9-9.9s-4.4-9.9-9.9-9.9h-64.5c-5.5,0-9.9,4.4-9.9,9.9 S343.6,340.3,349.1,340.3z'/%3E%3Cpath d='M349.1,389.9h64.5c5.5,0,9.9-4.4,9.9-9.9s-4.4-9.9-9.9-9.9h-64.5c-5.5,0-9.9,4.4-9.9,9.9 C339.2,385.4,343.6,389.9,349.1,389.9z'/%3E%3Cpath d='M349.1,439.6h64.5c5.5,0,9.9-4.4,9.9-9.9s-4.4-9.9-9.9-9.9h-64.5c-5.5,0-9.9,4.4-9.9,9.9 S343.6,439.6,349.1,439.6z'/%3E%3Cpath d='M83.5,97c5.5,0,9.9-4.4,9.9-9.9V65.2c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C73.6,92.6,78,97,83.5,97z'/%3E%3Cpath d='M137.3,97c5.5,0,9.9-4.4,9.9-9.9V65.2c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C127.4,92.6,131.8,97,137.3,97z'/%3E%3Cpath d='M191,97c5.5,0,9.9-4.4,9.9-9.9V65.2c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C181.1,92.6,185.6,97,191,97z'/%3E%3Cpath d='M244.8,97c5.5,0,9.9-4.4,9.9-9.9V65.2c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C234.9,92.6,239.3,97,244.8,97z'/%3E%3Cpath d='M83.5,164.8c5.5,0,9.9-4.4,9.9-9.9v-22c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v22 C73.6,160.3,78,164.8,83.5,164.8z'/%3E%3Cpath d='M137.3,164.8c5.5,0,9.9-4.4,9.9-9.9v-22c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v22 C127.4,160.3,131.8,164.8,137.3,164.8z'/%3E%3Cpath d='M191,164.8c5.5,0,9.9-4.4,9.9-9.9v-22c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v22 C181.1,160.3,185.6,164.8,191,164.8z'/%3E%3Cpath d='M244.8,164.8c5.5,0,9.9-4.4,9.9-9.9v-22c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v22 C234.9,160.3,239.3,164.8,244.8,164.8z'/%3E%3Cpath d='M83.5,232.5c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C73.6,228.1,78,232.5,83.5,232.5z'/%3E%3Cpath d='M137.3,232.5c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C127.4,228.1,131.8,232.5,137.3,232.5z'/%3E%3Cpath d='M191,232.5c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C181.1,228.1,185.6,232.5,191,232.5z'/%3E%3Cpath d='M244.8,232.5c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C234.9,228.1,239.3,232.5,244.8,232.5z'/%3E%3Cpath d='M83.5,300.3c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C73.6,295.8,78,300.3,83.5,300.3z'/%3E%3Cpath d='M137.3,300.3c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C127.4,295.8,131.8,300.3,137.3,300.3z'/%3E%3Cpath d='M191,300.3c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C181.1,295.8,185.6,300.3,191,300.3z'/%3E%3Cpath d='M244.8,300.3c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C234.9,295.8,239.3,300.3,244.8,300.3z'/%3E%3Cpath d='M83.5,368c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C73.6,363.6,78,368,83.5,368z'/%3E%3Cpath d='M137.3,368c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C127.4,363.6,131.8,368,137.3,368z'/%3E%3Cpath d='M191,368c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C181.1,363.6,185.6,368,191,368z'/%3E%3Cpath d='M244.8,368c5.5,0,9.9-4.4,9.9-9.9v-21.9c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v21.9 C234.9,363.6,239.3,368,244.8,368z'/%3E%3Cpath d='M83.5,435.8c5.5,0,9.9-4.4,9.9-9.9v-22c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v22 C73.6,431.3,78,435.8,83.5,435.8z'/%3E%3Cpath d='M137.3,435.8c5.5,0,9.9-4.4,9.9-9.9v-22c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v22 C127.4,431.3,131.8,435.8,137.3,435.8z'/%3E%3Cpath d='M191,435.8c5.5,0,9.9-4.4,9.9-9.9v-22c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v22 C181.1,431.3,185.6,435.8,191,435.8z'/%3E%3Cpath d='M244.8,435.8c5.5,0,9.9-4.4,9.9-9.9v-22c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v22 C234.9,431.3,239.3,435.8,244.8,435.8z'/%3E%3C/g%3E%3C/svg%3E%0A")
	&-svg
		width: 100%
		height: 35%
		left: 0
		top: 65%
/* FOTO */
.s-foto
	padding: 0
.foto
	&-item
		min-height: 600px
		width: 100%
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
.preview
	height: 100%
	display: flex
	flex-wrap: wrap
	background-color: #13233c
	&-link
		display: inline-block
		position: relative
		width: 50%
		height: 50%
		background-size: cover
		background-repeat: no-repeat
		background-position: center center		
		transition: .25s ease
		cursor: pointer
		&:hover
			 opacity: .8
		&_active::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: #13233c url(../img/logo.png) center no-repeat
			background-size: 50%
			opacity: .7

.foto .owl-prev, .foto .owl-next
	position: absolute
	width: 70px
	height: 120px
	top: 50%
	transform: translateY(-50%)
	span
		font-size: 120px
		line-height: 120px
		color: #fff
		opacity: .8
.foto .owl-next
	right: 0
/* FOTO END */
/* DISCAUNT */
.s-discount
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: .5
		background: -webkit-linear-gradient(left, rgba(14,14,14,1) 0%,rgba(125,126,125,.3) 60%)
.discount
	&-line
		width: 70%
	&-text
		color: #fff
		font-size: 22px
		margin: 20px 0 30px 0
	&-form
		margin-top: 20px
		width: 55%
		&_check
			opacity: .9
			margin-bottom: 30px
			margin-top: 10px
		&_btn
			width: 100%
/* DISCAUNT END */
/* ROOM */
.room
	&-layout
		padding-bottom: 30px
	&-line
		background-color: $blue
	&-layout_box__title
		margin-bottom: 0
		font-size: 18px
	&-btn
		position: absolute
		bottom: 17px
		right: 0
.layout
	margin-top: 50px
	&-box
		color: $text
		border: 1px solid #e8e8e8
		border-radius: 10px
		margin: 15px 0
		transition: background .25s ease
		display: block
		width: 100%
		&:hover
			cursor: pointer
			background-color: rgba($text, .1)
			border-color: rgba($text, .1)
			box-shadow: 1px 2px 1px 1px rgba($text, .05)
		&_line
			width: 58%
			background-color: $blue
			height: 8px
			margin-bottom: 0
		&_img
			display: block
			margin: 40px
			width: auto
			max-width: 100%
			height: 150px
			max-height: 150px
			background-size: auto 100%
			background-repeat: no-repeat
			background-position: center center
		&_text
			font-size: 12px
		&_bottom
			padding: 30px 30px 20px 30px
			background-color: #f2f2f2
			border-bottom-left-radius: 10px 
			border-bottom-right-radius: 10px
			background-image:  url(../img/icon/bg-popup.png)
			bg
			background-size: 30%
		&_oldprice
			display: block
			text-decoration: line-through
			color: #9b9b9b
			font-weight: 600
		&_newprice
			display: block
			text-transform: uppercase
			font-weight: 600
			font-size: 18px
/* ABOUT */
.about
	&-svg
		width: 100%
		&_line
			width: 50%
			right: 0
			top: 0
	&-line
		width: 68%
	&-text
		margin-top: 30px
	&-right
		font-family: $opensans
		color: #ababab
		text-align: center
		&_logo
			display: block
			margin: 0 auto
			width: 80%
			max-width: 200px
			height: 100px
			background: transparent url(../img/logo-2.png) center no-repeat
			background-size: 100%
			margin-bottom: 20px
		&_label
			font-size: 30px
			font-weight: bold
			color: #002d5f
		&_text
			font-weight: 400
/* ABOUT END*/
/* SOON */
.soon
	position: relative
	z-index: 2
	&-svg
		width: 100%
	&-line
		width: 90%
	&-text
		margin: 40px 0 30px 0
		width: 90%
	&-link
		text-transform: uppercase
		color: $blue
		text-decoration: underline
		font-size: 12px
		font-weight: 600
		margin: 0
		display: block
		padding: 10px
		padding-left: 0
		width: 140px
		white-space: nowrap
		&:hover
			color: lighten($blue, 30%)
			text-decoration: underline
		&:focus
			outline: none
		&__project
			color: $accent
			width: 180px
			background: none
			border: none
			cursor: pointer
		&__box
			width: 100%
			display: flex
			align-content: space-between
			flex-wrap: wrap
/* SOON END */
/* QUESTION */
.s-question
	background-color: $sectionbg
	font-family: $opensans
.question
	&-text
		width: 70%
		margin: 30px 0
	&-form_box
		display: flex
		&__input
			width: 40%
		&__textarea
			width: 60%
			margin-left: 15px
	&-form_check
		text-align: left
		opacity: .8
	&-form_btn
		width: 38%
		margin-top: 10px
	&-form_link
		color: #333
		&:hover
			color: #333
			text-decoration: underline
.manager
	text-align: center
	&-foto
		display: inline-block
		width: 100%
		height: 170px
		position: relative
	&-title
		font-size: 14px
		text-transform: uppercase
		margin: 20px 0
		strong
			white-space: nowrap
	&-svg
		width: 100%
		left: 50%
		transform: translateX(-50%)
/* QUESTION END */
/* COMMENT */
.s-comment
	position: relative
.comment
	margin: 60px 0
	&-icon
		height: 55px
		position: absolute
		bottom: 17px
		right: 0
		text-align: right
		&_box
			width: 50px
			height: 50px
			&__social
				background-color: $accent
				display: inline-block
				border-radius: 50%
				width: 100%
				height: 100%
				padding: 10px
				transition: background-color .25s ease
				&__vk
					background-color: #5181B8
				&__od
					background-color: #EF8E1D
				&__inst
					background-color: #7B39AC
				&:hover
					background-color: $hover
					box-shadow: 1px 2px 2px 1px rgba(#333, .2)
	&-svg
		width: 100%
		z-index: -1
	&-top
		display: flex
		&_img
			display: inline-block
			width: 110px
			height: 110px
			position: relative
			margin-right: 15px
		&_title
			text-transform: uppercase
			margin-top: 30px
	&-box
		background-color: $sectionbg
		border-radius: 10px
		border: 1px solid $sectionbg
		padding: 40px 30px 80px 30px
		position: relative
		height: 100%
		&::before
			content: ''
			position: absolute
			top: 0
			right: 0
			width: 60%
			height: 40px
			border-top-right-radius: 10px
			background-color:#dadada
	&-text
		margin-top: 20px
		&_bottom
			position: absolute
			bottom: 40px
			left: 30px
	&-link
		color: $blue
		text-decoration: underline
		&:hover
			color: $blue
			text-decoration: underline
	&-btn
		display: block
		width: 200px
		text-align: center
		margin: 0 auto
		background-color: $blue			
/* COMMENT END */
/* MAP */
.s-map
	padding: 50px 0
	min-height: 600px
	background: $blue url(../img/bg-map.jpg) center no-repeat / cover
	font-family: $opensans
.map-box
	margin: 15px
	max-width: 400px
	&__number
		color: #f7f7f7
		font-size: 26px
		font-weight: bold
		margin: 0
	&__left
		width: 80px
		min-width: 80px
	&__right
		width: 100%
		padding: 25px
		&:hover
			background-color: #fff
/* MAP END */
/* BOTTOM */
.s-bottom
	background-color: $blue
	position: relative
	padding: 100px 0
/* FOOTER */
.s-footer
	background-color: $footer
	padding: 50px 0
	overflow: visible
.footer
	&-text
		display: inline-block
		margin: 0
		padding-top: 5px
		font-size: 10px
	&-address
		margin: 0
	&-callback
		margin-top: -8px
		z-index: 0
		&_phone
			margin: 0
/* COPYRIGHT */
.s-copyright
	background-color: #232932
	padding: 30px 0
	overflow: visible
.copyright
	&-box
		height: 100%
		display: flex
		&__text
			color: #fff
			opacity: .5
			font-size: 12px
			margin: auto auto auto 0
.sells-copyright-block__pop-up
	z-index: 1000


/* modal "CALLBACK" */
.form-popup
	background: #fff url(../img/icon/bg-form-popup.png) 110px 100px no-repeat
	background-size: 90%
	margin: 0
	width: 100%
	max-width: 350px
	text-align: center
	padding: 60px 55px
	&_line
		background-color: #d7dbe0
		height: 7px
	&_title
		font-size: 16px
	&_check
		opacity: 1
		font-weight: 400
	&_link
		color: #333
		opacity: 1
		&:hover
			color: $blue
			text-decoration: underline
	&_btn
		width: 100%
.popup-callback
	max-width: 350px
/* Modal "MORE" */
.more
	&-box
		&_right
			padding-bottom: 25px
		&_text
			display: none
		&-title
			font-size: 20px
			line-height: 1.3
.popup-more
	max-width: 350px
.more-modal-content
	max-width: 350px
/* PROJECT */
.project-popup
	padding: 50px
	font-family: $opensans
	display: flex
	flex-direction: column
	background-repeat: no-repeat
	background-size: 40%
	background-position: 110% 50px
	&_item
		padding-left: 30px
		position: relative
		margin-bottom: 10px
		&::before
			left: 0
			top: 5px
			width: 18px
			height: 100%
			background-image: url("data:image/svg+xml,%3Csvg fill='%23e65a00' height='100%' viewBox='-64 0 511 512' width='100%' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m181.628906 346.9375c5.859375 5.863281 15.355469 5.859375 21.210938 0l64.265625-64.265625c5.859375-5.855469 5.859375-15.355469 0-21.210937-5.855469-5.859376-15.351563-5.859376-21.210938 0l-38.660156 38.660156v-108.386719c0-8.285156-6.71875-15-15-15-8.285156 0-15 6.714844-15 15v108.386719l-38.660156-38.660156c-5.859375-5.859376-15.355469-5.859376-21.214844 0-5.855469 5.855468-5.855469 15.355468 0 21.210937zm0 0'/%3E%3Cpath d='m256.5 385.601562h-128.535156c-8.28125 0-15 6.714844-15 15 0 8.28125 6.71875 15 15 15h128.535156c8.28125 0 15-6.71875 15-15 0-8.285156-6.714844-15-15-15zm0 0'/%3E%3Cpath d='m336.832031 0h-224.933593c-3.976563 0-7.792969 1.582031-10.605469 4.394531l-96.398438 96.398438c-2.8125 2.8125-4.394531 6.628906-4.394531 10.605469v353.46875c0 25.988281 21.144531 47.132812 47.132812 47.132812h289.199219c25.914063 0 47.132813-20.953125 47.132813-47.132812v-417.734376c0-25.914062-20.949219-47.132812-47.132813-47.132812zm-223.867187 35.144531v60.1875c0 9.449219-7.683594 17.132813-17.132813 17.132813h-60.1875zm241 429.722657c0 9.332031-7.542969 17.132812-17.132813 17.132812h-289.199219c-9.445312 0-17.132812-7.6875-17.132812-17.132812v-322.398438h65.332031c25.988281 0 47.132813-21.144531 47.132813-47.132812v-65.335938h193.867187c9.335938 0 17.132813 7.546875 17.132813 17.132812zm0 0'/%3E%3C/svg%3E")
	&_link
		color: $text
		opacity: .7
		font-size: 14px
		text-transform: uppercase
		text-decoration: underline
		&:hover
			color: $accent
			text-decoration: underline
 /* Modal "COMMENT" */
.comment-modal
	max-width: 650px
	display: flex
	&_title
		margin-bottom: 30px
	&__left
		width: 50%
		height: 100%
		min-width: 300px
		padding: 60px 10px 48px 55px
	&__textarea
		height: 100%
	&__right
		width: 50%
		min-width: 300px
		height: 100%
/* Modal "THANKS" */
.thanks-popup
	background-size: 40%
	background-position: 110% 60px
	padding: 50px 30px 10px 30px
	max-width: 300px
/* Modal "ROOM" */
.proom-active
	display: block

.proom-wrapper
	display: flex
.proom
	max-width: 650px
	font-family: $opensans
	&_btn
		margin: 20px 0 0 0
	&-imgbox
		width: 50%
		padding: 50px 20px 40px 40px
		figcaption
			text-align: center
			text-transform: uppercase
			font-size: 12px
		&_item
			width: 100%
			height: auto
			background-color: $hover
			padding: 25px
			text-align: center
			border-radius: 20px
			&__small
				width: 100%
				height: auto
				min-height: 110px
				display: block
				padding: 0
			&__big
				display: inline-block
				width: 100%
				height: 228px
				min-height: 228px
				background-size: 100%
				background-repeat: no-repeat
		&__bottom
			margin-top: 20px
			display: flex
			justify-content: space-between
			figure
				display: block
				width: 47%
	&-right
		width: 50%
		padding: 50px 40px 40px 20px
	&-parameter
		margin: 0 0 20px 0
		padding-left: 16px
		li
			color: $accent
			span
				color: #787878




/* text-based popup styling */
.white-popup
	position: relative
	background: #FFF
	border-radius: 15px
	padding: 0
	width: auto
	display: block
	margin: 0 auto
.popup
	&-more
		.buy-box_right:hover
			background-color: #fff
	&-comment
		max-width: 600px
	&-project
		max-width: 450px
/* Animation "Modal" */
.mfp-move-horizontal
	/* start state */
	.mfp-with-anim
		opacity: 0
		transition: all 0.3s 
		transform: translateX(-50px)
	&.mfp-bg
		opacity: 0
		transition: all 0.3s
		background-color: $blue
  /* animate in */
	&.mfp-ready
		.mfp-with-anim
			opacity: 1
			transform: translateX(0)
		&.mfp-bg
			opacity: 0.8
	/* animate out */
	&.mfp-removing
		.mfp-with-anim
			transform: translateX(50px)
			opacity: 0
		&.mfp-bg
			opacity: 0

   



@import "media" // Always at the end
